.caregory-cards {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 7vw;
}
.caregory-cards .card {
  color: var(--text-primary-color);
  font-weight: var(--titles-weight);
  font-size: var(--h3-text-mobile);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7vw;
  background-color: var(--background-secondary-color);
  padding: 8vw 0vw;
  img {
    height: 62px;
  }
}
.caregory-cards .card:hover {
  margin-top: 20px;
  
}

@media (min-width: 620px) {
  .caregory-cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.8vw;
  }
  .caregory-cards .card {
    font-size: var(--h3-text-tablet);
    gap: 4.5vw;
    padding: 0vw 0vw;
    width: 40%;
    height: 26vw;
  }
}

@media (min-width: 1020px) {
  .caregory-cards {
    gap: 2vw;
    height: 16vw;
  }
  .caregory-cards .card {
    font-size: var(--h3-text-desktop);
    gap: 2vw;
    padding: 1vw 0.8vw;
    width: 13.8%;
    height: 11vw;
    img {
      height: 3.8vw;
    }
  }
}
