.caregory-cards {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 7vw;
}
.caregory-cards .card {
  width: 80%;
  color: var(--text-primary-color);
  font-weight: var(--titles-weight);
  font-size: 5.5vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7vw;
  background-color: var(--background-secondary-color);
  padding: 11vw 8vw;
  img{
    height: 72px;
  }
}

@media (min-width: 620px) {
  .caregory-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.8vw;
  }
  .caregory-cards .card {
    background-color: red;
    font-size: 3vw;
    gap: 7vw;
    padding: 4vw 0vw;
    width: 40%;
    height: 30vw;
  }
}

@media (min-width: 1020px) {
}
