.forms {
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
  gap: 5vw;
  h2 {
    font-size: var(--h2-text-mobiel);
  }
  p {
    font-size: var(--p-text-mobile);
    text-align: center;
    line-height: 6vw;
    margin-bottom: 10vw;
  }
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15vw;
    input {
      border: 0px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.151);
      margin-bottom: 10vw;
      padding: 2vw 0;
      font-size: var(--p-text-mobile);
      color: rgba(0, 0, 0, 0.616);
    }
    input:hover {
      border: none;
      border-bottom: 2px solid rgba(204, 13, 13, 0.562);
      color: rgba(204, 13, 13, 0.562);
      outline: none;
    }
    input:focus {
      border: none;
      border-bottom: 2px solid rgba(204, 13, 13, 0.562);
      color: rgba(204, 13, 13, 0.562);
      outline: none;
    }
    label {
      color: rgba(0, 0, 0, 0.616);
      font-size: var(--p-text-mobile);
    }
    textarea {
      border-radius: 8px;
      border: 2px solid rgba(0, 0, 0, 0.151);
      height: 15vw;
      padding: 1vw;
      font-size: var(--p-text-mobile);
      outline: none;
    }
    textarea:hover {
      color: rgba(204, 13, 13, 0.562);
    }
    textarea:focus {
      border: 2px solid rgba(204, 13, 13, 0.562);
      color: rgba(204, 13, 13, 0.562);
      outline: none;
    }
    button {
      width: 100%;
      margin-top: 10vw;
      padding: 1.5vw 0;
      border: 0;
    }
    .label-none {
      display: none;
    }
    input:invalid,
    select:invalid,
    textarea:invalid {
      border-color: red;
    }

    input:valid,
    select:valid,
    textarea:valid {
      border-color: green;
    }
  }
}

@media (min-width: 500px) {
  .forms {
    padding: 0 10vw;
    gap: 5vw;
    h2 {
      font-size: var(--h2-text-tablet);
    }
    p {
      font-size: var(--p-text-tablet);
      line-height: 4vw;
      margin-bottom: 3vw;
    }
    form {
      margin-bottom: 15vw;
      input {
        margin-bottom: 5vw;
        padding: 2vw 0;
        font-size: var(--p-text-tablet);
      }
      label {
        font-size: var(--p-text-tablet);
      }
      textarea {
        height: 15vw;
        padding: 1vw;
        font-size: var(--p-text-tablet);
      }
      button {
        width: 100%;
        margin-top: 4vw;
        border: 0;
      }
    }
  }
}

@media (min-width: 1000px) {
  .forms {
    padding: 0 16vw;
    gap: 3vw;
    h2 {
      font-size: var(--h2-text-desktop);
    }
    p {
      padding: 0 6vw;
      font-size: var(--p-text-desktop);
      line-height: 2.3vw;
      margin-bottom: 2vw;
    }
    form {
      padding: 0 10vw;
      margin-bottom: 6vw;
      input {
        margin-bottom: 2vw;
        padding: 2vw 0;
        font-size: var(--p-text-desktop);
      }
      label {
        font-size: var(--p-text-desktop);
      }
      textarea {
        border-radius: 8px;
        height: 8vw;
      }
      button {
        width: 100%;
        margin-top: 4vw;
        border: 0;
      }
    }
  }
}

@media (min-width: 1400px) {
  .forms {
    padding: 0 16vw;
    gap: 3vw;
    h2 {
      font-size: var(--h2-text-desktop);
    }
    p {
      padding: 0 6vw;
      font-size: var(--p-text-desktop);
      line-height: 2.3vw;
      margin-bottom: 2vw;
    }
    form {
      padding: 0 10vw;
      display: flex;
      flex-direction: column;
      margin-bottom: 6vw;
      input {
        margin-bottom: 1.5vw;
        padding: 1vw 0;
        font-size: var(--p-text-desktop);
      }
      label {
        font-size: var(--p-text-desktop);
      }
      textarea {
        border-radius: 8px;
        border: 2px solid rgba(0, 0, 0, 0.151);
        height: 8vw;
        padding: 1vw;
        font-size: var(--p-text-desktop);
      }
      button {
        width: 100%;
        margin-top: 4vw;
        border: 0;
      }
    }
  }
}
