@import url(global.css);

header {
  background-color: var(--background-tertiary-color);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 1.5% 8%;
  position: relative;
  a {
    color: var(--background-primary-color);
    font-weight: var(--menu-text-weight);
    cursor: pointer;
    font-size: 5.2vw;
  }

  a:hover {
    color: var(--primary-color);
  }
  ul {
    display: flex;
    gap: 3.6vw;
  }
}
.menu {
  display: none;
}

input[type="checkbox"]:checked ~ nav {
  display: flex;
  ul {
    flex-direction: column;
    background-color: var(--background-tertiary-color);
    gap: 30px;
    width: 100vw;
    align-items: center;
    padding: 20px 0px 40px 0px;
  }
  position: absolute;
  top: 96%;
  left: 0;
}

/* Tela Tablet */
@media (min-width: 520px) {
  header{
    padding: 1.5% 8%;
    a{
      font-size: 2.5vw;
    }
  }
  .hamburguer {
    display: none;
  }
  .menu {
    display: flex;
  }
}

@media (min-width: 764px) {
    header{
    a{
      font-size: 2.1vw;
    }
  }
}

@media (min-width: 1023px) {
    header{
          padding: 1.5% 15%;
    a{
      font-size: 18px;
    }
  }
}

@media (min-width: 1440px) {
    header{
          padding: 1.5% 15%;
    a{
      font-size: 22px;
    }
  }
}
@media (min-width: 2000px) {
    header{
          padding: 1.5% 15%;
    a{
      font-size: 30px;
    }
  }
}
