@import url(global.css);

header {
  background-color: var(--background-tertiary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 10%;

  a {
    color: var(--background-primary-color);
    font-family: var(--text-family);
    font-weight: var(--menu-text-weight);
    cursor: pointer;
  }
  a:hover {
    color: var(--primary-color);
  }
  ul {
    display: flex;
    gap: 2vw;
  }
}
.menu {
  display: none;
}

/* Tela Descktop */
@media (min-width: 768px) {
  .hamburguer {
    display: none;
    cursor: pointer;
  }
  .menu {
    display: flex;
  }
}
