@import url(global.css);

header {
  background-color: var(--background-tertiary-color);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 2% 10%;
  position: relative;

  a {
    color: var(--background-primary-color);
    font-family: var(--text-family);
    font-weight: var(--menu-text-weight);
    cursor: pointer;
  }
  a:hover {
    color: var(--primary-color);
  }
  ul {
    display: flex;
    gap: 2vw;
  }
}
.menu {
  display: none;
}

input[type="checkbox"]:checked ~ nav {
  display: flex;
  ul {
    flex-direction: column;
    background-color: var(--background-tertiary-color);
    gap: 30px;
    width: 100vw;
    align-items: center;
    padding: 20px 0px 40px 0px;
  }
  position: absolute;
  top: 99%;
  left: 0;


}

/* Tela Descktop */
@media (min-width: 768px) {
  .hamburguer {
    display: none;
    cursor: pointer;
  }
  .menu {
    display: flex;
  }
}
