.hero {
  h1 {
    font-size: 5.5vw;
    font-weight: var(--text-weight);
  }

  .content-hero {
    padding: 16vw 7.3vw 0 7.3vw;
    text-align: center;
    line-height: 8.8vw;
    color: var(--text-primary-color);
  }
  .hero-img {
    width: 100%;
    height: 98vw;
    background-image: url(../assets/img/hero-mobile.png);
    background-size: cover;
    background-position: center;
  }
}

/* Tela Tablet */
@media (min-width: 500px) {
  .hero {
    .hero-img {
      height: 57vw;
      background-image: url(../assets/img/hero-tablet.png);
    }
    h1 {
      font-size: 3.5vw;
      line-height: 5vw;
    }
    .content-hero {
      padding: 13vw 9% 0 9%;
      line-height: 7vw;
    }
  }
}
/* Tela Descktop | min */
@media (min-width: 800px) {
  .hero {
    .hero-img {
      height: 40vw;
      background-image: url(../assets/img/hero-descktop.png);
    }
    h1 {
      font-size: 1.85vw;
      line-height: 3vw;
      text-align: center;
      width: 100%;
    }

    .content-hero {
      padding: 5.4vw 15.5% 0 15.5%;
      line-height: 3vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (min-width: 1440px) {
  .hero {
    .hero-img {
      height: 28vw;
    }
    h1 {
      font-size: 1.7vw;
      line-height: 2.5vw;
      text-align: center;
    }
  }
}
