.offers-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 7vw;
}
.card {
  width: 80%;
  padding: 3.5vw;
  color: var(--text-secondary-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
}
.card header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  margin: 0;
  height: calc(100% - 13vw);
  position: static;
  text-align: center;
  p {
    font-size: 3vw;
    font-weight: var(--text-weight);
  }
  h3 {
    font-size: 6vw;
    line-height: 8vw;
    font-weight: var(--titles-weight);
    span {
      font-size: 4.5vw;
    }
  }
}
.card footer {
  height: 13vw;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card footer .button {
  height: 80%;
  width: 70%;
  font-size: 4vw;
}
.card.japao {
  background-image: url(../assets/img/bg-japao-mobile.png);
}
.card.san-andreas {
  h3 {
    width: 100%;
  }
  background-image: url(../assets/img/bg-san-andreas-mobile.png);
}
.card.paraiba {
  background-image: url(../assets/img/bg-paraiba-mobile.png);
}
.card.manaus {
  background-image: url(../assets/img/bg-manaus-mobile.png);
}
@media (min-width: 760px) {
  .offers-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.8vw;
  }
  .card {
    width: 40%;
    padding: 2vw 2vw;
  }
  .card header {
    height: calc(100% - 9vw);
    p {
      font-size: 1.4vw;
    }
    h3 {
      font-size: 2.6vw;
      line-height: 3.8vw;
      margin-top: 0.5vw;
      span {
        font-size: 2.2vw;
      }
    }
  }
  .card footer {
    height: 9vw;
    font-size: 1.4vw;
  }

  .card footer .button {
    font-size: 2.6vw;
  }
}
@media (min-width: 1023px) {
  .offers-cards {
    padding: 0 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
  }
  .card {
    width: 32.5vw;
    padding: 1.5vw 4vw;
  }
  .card header {
    height: fit-content;
    p {
      font-size: 15px;
    }
    h3 {
      font-size: 2vw;
      line-height: 140%;
      span {
        font-size: 1.5vw;
      }
    }
  }
  .card footer {
    height: 5vw;
    display: flex;
  }
  .card footer .button {
    font-size: 1.4vw;
    width: calc(100% - 8%);
    margin: 0 8%;
  }
  .card.japao {
    background-image: url(../assets/img/bg-japao-desktop.png);
  }
  .card.san-andreas {
    h3 {
      width: 180%;
    }
    background-image: url(../assets/img/bg-san-andreas-desktop.png);
  }
  .card.paraiba {
    background-image: url(../assets/img/bg-paraiba-desktop.png);
  }
  .card.manaus {
    background-image: url(../assets/img/bg-manaus-desktop.png);
  }
}

@media (min-width: 2000px) {
  .card header {
    p {
      font-size: 25px;
    }
    h3 {
      font-size: 45px;
      line-height: 3vw;
      span {
        font-size: 38px;
      }
    }
  }
  .card footer .button {
    font-size: 1.2vw;
    width: calc(80% - 8%);
    margin: 0 8%;
  }
}