.payment-terms {
  width: 100%;
  padding: 0 10.5vw;
}
.payment-terms article {
  display: flex;
  gap: 8vw;
  flex-direction: column;
  header {
    display: flex;
    flex-direction: column;
    gap: 6vw;
    padding: 1vw 0 0 0;
    background-color: white;
    h3 {
      font-size: 7.2vw;
      font-weight: var(--titles-weight);
    }
    p {
      font-size: 5.2vw;
      line-height: 8vw;
    }
  }
  footer {
    gap: 4vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto auto;
    grid-template-areas:
      "photo-1 photo-2"
      "photo-3 photo-3";
    .photo {
      background-color: red;
      padding: 60px;
    }
    .photo-1 {
      grid-area: photo-1;
    }
    .photo-2 {
      grid-area: photo-2;
    }
    .photo-3 {
      grid-area: photo-3;
    }
    img {
      width: 100%;
    }
  }
}
@media (min-width: 500px) {
  .payment-terms article {
    gap: 4vw;
    header {
      gap: 3vw;
      padding: 1vw 0 0 0;
      h3 {
        font-size: 3.5vw;
        font-weight: var(--titles-weight);
        width: 100%;
      }
      p {
        font-size: 2.5vw;
        line-height: 4vw;
      }
    }
    footer {
      gap: 2vw;
    }
  }
}
@media (min-width: 1000px) {
  .payment-terms {
    padding: 0 15.5vw;
  }
  .payment-terms article {
    margin-top: 1.8vw;
    gap: 1.7%;
    flex-direction: row;
    header {
      width: 80%;
      gap: 1.5vw;
      padding: 0vw 0 0 0;
      justify-content: start;
      h3 {
        font-size: 2vw;
        font-weight: var(--titles-weight);
      }
      p {
        font-size: 1.3vw;
        line-height: 1.8vw;
      }
    }
    footer {
      gap: 1vw;
    }
  }
}
@media (min-width: 1440px) {
  .payment-terms {
    padding: 0 15.5vw;
  }
  .payment-terms article {
    margin-top: 1.8vw;
    gap: 3%;
    flex-direction: row;
    header {
      width: 50%;
    }
  }
}
@media (min-width: 1800px) {
  .payment-terms article {
    gap: 1vw;
    flex-direction: row;
    header {
      width: 30%;
      gap: 1.5vw;
      justify-content: start;
      h3 {
        font-size: 2vw;
        font-weight: var(--titles-weight);
      }
      p {
        font-size: 1.29vw;
        line-height: 1.8vw;
      }
    }
    footer {
      width: 70%;
      gap: 1vw;
    }
  }
}
