.payment-terms {
  width: 100vw;
}
.payment-terms article {
  display: flex;
  gap: 8vw;
  width: 100%;
  flex-direction: column;
  padding: 0 10.5vw;
  header {
    display: flex;
    flex-direction: column;
    gap: 6vw;
    padding: 1vw 0 0 0;
    margin: 0;
    height: fit-content;
    width: 100%;
    background-color: white;
    h3 {
      font-size: 7.2vw;
      font-weight: var(--titles-weight);
    }
    p {
      font-size: 5.2vw;
      line-height: 8vw;
    }
  }
  footer {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    .photo-3 {
      display: flex;
      flex-direction: row;
      gap: 6%;
      picture{
        width: 50%;
      }
      img {
        width: 100%;
      }
    }
    img {
      width:100%;
    }
  }
}
